h1{
  user-select: none;
  max-width: 1000px;
  margin-bottom: 4rem;
  .mobile-only{
    display: none;
  }
};

@media screen and (max-width: 955px){
  h1{
    .mobile-only{
      display: inline;
    }
  }
}

@media screen and (max-width: 600px){
  h1{
    .desktop-only{
      display: none;
    }
  }
}